<template>
    <loading-component :is-loading="purchaseHistory === null">
        <table class="table mt-3" :class="{'table-striped': isStriped}">
            <thead>
            <tr>
                <th scope="col">Nº de productos</th>
                <th scope="col">Precio</th>
                <th scope="col">Ha sido recogido?</th>
                <th scope="col">Fecha</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="purchase in purchaseHistory" :key="purchase.id">
                <td>{{ purchase.quantity }}</td>
                <td>{{ purchase.price }}€</td>
                <td>{{ purchase.is_picked_up | yesno }}</td>
                <td>{{ purchase.date | myDate }}</td>
            </tr>
            </tbody>
        </table>
    </loading-component>
</template>

<script>
import LoadingComponent from "@/components/LoadingComponent";
import api from "@/api/api";

export default {
    name: "ShoppingHistory",
    components: {LoadingComponent},
    props: {
        selectedUser: {
            type: Object,
            required: true,
        },
        // https://vuejs.org/v2/guide/components-props.html
        isStriped: {
            type: Boolean,
            default: false,
        },
        // https://vuejs.org/v2/guide/components-props.html#Prop-Validation
        randomNumber: {
            type: Number,
            validator: function (value) {
                return value > 0;
            }
        }
    },
    data() {
        return {
            purchaseHistory: null,
        }
    },
    created() {
        api.getPurchaseHistory(this.selectedUser)
            .then(response => this.purchaseHistory = response)
    }
}
</script>

<style scoped>

</style>