<template>
    <div class="row justify-content-md-center" :class="{'mt-3': isEditing}">
        <div class="col" :class="{'col-6': !isEditing}">
            <div>
                <div class="form-group">
<!--                    <text-field v-model="username" label="Nombre de usuario"/>-->

<!--                    <label for="username-create">Nombre de usuario</label>-->
<!--                    <input -->
<!--                        v-model.lazy="username"-->
<!--                        type="email"-->
<!--                        class="form-control"-->
<!--                        id="username-create"-->
<!--                    >-->

                    <label for="username-create">Nombre de usuario</label>
                    <input
                        :value="usernameFormatted"
                        @change="username = $event.target.value"
                        type="email"
                        class="form-control"
                        id="username-create"
                    >
                    <p>
                        {{ username | showMoney }}
                    </p>

                    <small v-if="!isAvailable" class="text-danger">
                        El nombre de usuario "{{ username }}" no está disponible
                    </small>
                </div>
                <div class="form-group">
                    <label for="first-name-create">Nombre</label>
                    <input v-model="createdUser.first_name" type="text" class="form-control" id="first-name-create">
                </div>
                <div class="form-group">
                    <label for="last-name-create">Apellidos</label>
                    <input v-model="createdUser.last_name" type="text" class="form-control" id="last-name-create">
                </div>
                <div class="form-group">
                    <label for="email-create">Email</label>
                    <input v-model="createdUser.email" type="email" class="form-control" id="email-create">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1-create">Password</label>
                    <input v-model="createdUser.password" type="password" class="form-control" id="exampleInputPassword1-create">
                </div>
                <div class="form-group form-check">
                    <input v-model="createdUser.is_staff" type="checkbox" class="form-check-input" id="is-staff-create">
                    <label class="form-check-label" for="is-staff-create">Es administrador</label>
                </div>

                <div v-if="isEditing" class="custom-file text-left mb-3" style="cursor: pointer;">
                    <input
                        id="customFile"
                        class="custom-file-input"
                        @change="onFileSelected"
                        ref="newImage"
                        type="file"
                    >
                    <label class="custom-file-label" for="customFile" data-browse="Elegir">
                        <span v-if="newImage === null">Seleccionar Archivo</span>
                        <span v-else>{{ newImage.name }}</span>
                    </label>
                </div>

                <button v-if="isEditing" type="submit" class="btn btn-info mr-3" @click="saveUser">Guardar</button>
                <button v-else type="submit" class="btn btn-info mr-3" @click="createUser">Crear</button>

                <button v-if="!isEditing" type="submit" class="btn btn-secondary" @click="$emit('cancel')">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import api from "@/api/api";
import {cloneDeep} from 'lodash';

export default {
    name: "UserEditCreate",
    props: {
        user: Object,
        isEditing: Boolean,
    },
    filters: {
        showMoney(value) {
            return value + ' €';
        },
    },
    data() {
        return {
            username: this.isEditing ? this.user.username : '',
            isAvailable: true,

            // creation data
            createdUser: this.isEditing ? cloneDeep(this.user) : {
                first_name: null,
                last_name: null,
                password: null,
                email: null,
                is_staff: false,
            },

            newImage: null,
        }
    },
    computed: {
        usernameFormatted() {
            return this.username + ' €';
        }
    },
    watch: {
        username: function(newValue, oldValue) {
            console.log('username changed from ' + oldValue + ' to ' + newValue);
            if(newValue !== '') {
                api.isUsernameAvailable(newValue)
                    .then(isAvailable => this.isAvailable = isAvailable);
            }
        },
    },
    methods: {
        createUser() {
            this.createdUser.username = this.username;
            api.createUser(this.createdUser)
                .then(() => {
                    this.createdUser = null;
                    this.isAdding = false;
                    this.$emit('create');
                });
        },
        onFileSelected() {
            console.log(this.$refs.newImage.files[0]);
            this.newImage = this.$refs.newImage.files[0];
        },

        async saveUser() {
            this.createdUser.username = this.username;
            await api.updateUser(this.createdUser);

            if (this.newImage !== null) {
                let formData = new FormData();
                formData.append('profile_image', this.newImage);
                this.createdUser = await api.uploadProfileImage(this.createdUser, formData);
            }

            this.$emit('save', this.createdUser)
        },
    },
}
</script>

<style scoped>

</style>