<template>
    <div class="row mb-3">
        <div class="col-5">

            <div class="card" style="width: 100%;">
                <img v-if="selectedUser.profile_image" :src="selectedUser.profile_image" class="card-img-top" alt="...">
                <img v-else src="@/assets/no_image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ selectedUser.first_name }} {{ selectedUser.last_name }}</h5>
                </div>
            </div>

        </div>

        <div class="col-7">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <button
                        class="nav-link"
                        @click="selectedComponentIndex = 0"
                        :class="{'active': selectedComponentIndex === 0}"
                        href="#"
                    >Ficha</button>
                </li>
                <li class="nav-item">
                    <button
                        class="nav-link"
                        @click="selectedComponentIndex = 1"
                        :class="{'active': selectedComponentIndex === 1}"
                        href="#"
                    >Registro de compra</button>
                </li>
            </ul>

            <component
                class="mt-3"
                :selected-user="selectedUser"
                :user="selectedUser"
                :is-editing="true"
                :is="componentList[selectedComponentIndex]"
            />
        </div>

    </div>
</template>

<script>
import UserEditCreate from "@/components/user/UserEditCreate";
import ShoppingHistory from "@/components/user/ShoppingHistory";

export default {
    name: "UserDetail",
    components: {ShoppingHistory, UserEditCreate},
    props: {
        selectedUser: Object,
    },
    data() {
        return {
            // selection data
            selectedUserImage: '',
            isUserTabActive: true,

            selectedComponentIndex: 0,
            componentList: [
                UserEditCreate,
                ShoppingHistory,
            ]
        }
    },
}
</script>

<style scoped>

</style>