<template>
    <div>
        <h2 class="mb-5">Su carrito de la compra</h2>
        <div class="row">
            <div class="col-8">
                <shopping-cart
                    :cart="cart"
                    @empty="emptyCart"
                    @delete="deleteElement"
                    @select="selected = $event"
                    @addother="addOther"
                />
            </div>
            <div v-if="!isEmpty" class="col-4">
                <product-detail
                    :product="cart[selected]"
                />
            </div>
        </div>
    </div>
</template>

<script>
import ShoppingCart from "@/components/ShoppingCart";
import store from "@/store/store";
import ProductDetail from "@/components/ProductDetail";

export default {
    name: "ShoppingCartView",
    components: {ShoppingCart, ProductDetail},
    data() {
        return {
            sharedState: store.state,
            selected: null,
        }
    },
    computed: {
        isEmpty() {
            return this.sharedState.cart.length === 0;
        },
        cart() {
            return this.sharedState.cart;
        },
    },
    methods: {
        emptyCart() {
            store.emptyCart();
        },
        deleteElement(index) {
            store.deleteFromCart(index);
        },
        addOther(index) {
            store.addToCart(this.cart[index]);
        },
    },
}
</script>

<style scoped>

</style>