<template>
    <div>
        <div v-if="isLoading" class="spinner-border mb-3" role="status">
            <span class="sr-only">Cargando...</span>
        </div>

        <div v-else>
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "LoadingComponent",
    props: {
        isLoading: Boolean,
    },
}
</script>

<style scoped>

</style>