<template>
    <div>
        <h4 class="text-left">Detalle del producto</h4>
        <p v-if="product === undefined" class="text-info">
            Haz click en un producto para ver sus detalles
        </p>
        <p v-else class="text-left">
            <b>Producto:</b> {{ product.name }} <br>
            <b>Precio:</b> {{ product.price }}€ <br>
            <b>Descripción:</b> {{ product.description }} <br>
        </p>
    </div>
</template>

<script>
export default {
    name: "ProductDetail",
    props: {
        product: Object,
    }
}
</script>

<style scoped>

</style>