<template>
    <div class="card my-3">
        <div class="card-header">
            {{ product.name }}
            <router-link :to="{ name: 'product', params: { id: product.id } }">Ir al detalle</router-link>
        </div>

        <div class="card-body text-left">
            <div class="row justify-content-between" :class="{'mb-3': isStaff}">
                <div class="col">
                    <p class="card-text">Cantidad disponible: {{ product.quantity }}</p>
                    <p class="card-text">Precio: {{ product.price }} €</p>
                </div>

                <div class="col-auto">
                    <button
                        class="btn btn-info"
                        @click="addProductToCart"
                    >
                        Añadir al carrito
                    </button>
                </div>
            </div>

            <div v-if="isStaff" class="row">
                <div class="col-auto">
                    <button @click="addUnit(1)" class="btn btn-primary mr-3">+</button>
                    <button @click="addUnit(-1)" class="btn btn-danger mr-3">-</button>
                </div>
                <div class="col form-inline">
                    <div class="form-group">
                        <label class="mr-2" for="quantity">Cambiar precio</label>
                        <input
                            id="quantity"
                            type="number"
                            class="form-control"
                            placeholder="Introducir cantidad"
                            v-model.number="newPrice"
                        >
                        <small v-if="!isCorrect" class="text-danger">Este valor es incorrecto</small>
                        <button class="btn btn-primary mx-3" @click="modifyPrice">
                            Modificar precio
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "Product",
    props: {
        product: Object,
        index: Number,
        isStaff: Boolean,
    },
    data() {
        return {
            newPrice: null,
            isCorrect: true,
        }
    },
    methods: {
        addUnit(quantity) {
            console.log(this.index);
            this.$emit('quantity', {
                index: this.index,
                quantity: quantity,
            });
        },
        addProductToCart() {
            this.$emit('bought', this.index);
        },
        modifyPrice() {
            this.isCorrect = this.newPrice > 0;
            if (this.isCorrect) {
                this.isCorrect = true;
                this.$emit('price', {
                    index: this.index,
                    newPrice: this.newPrice,
                })
            }
        },
    },
}
</script>

<style scoped>

</style>