<template>
    <div>
        <p v-if="isEmpty">
            El carrito está vacío. Puedes añadir productos en la sección
            <router-link :to="{name: 'products'}">Productos</router-link>
        </p>

        <table v-else class="table">
            <thead>
            <tr>
                <th></th>
                <th>Cantidad</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
            </thead>

            <tbody>
            <tr
                v-for="(product, index) in cart"
                :key="product.id"
            >
                <td></td>
                <td><span class="badge badge-info badge-pill mr-2">{{ product.quantity }}</span></td>
                <td><button class="btn btn-link" @click="$emit('select', index)">{{ product.name }}</button></td>
                <td>{{ product.price * product.quantity | money }} €</td>
                <td>
                    <button class="btn btn-info mr-2" @click="$emit('addother', index)">+</button>
                    <button class="btn btn-danger" @click="$emit('delete', index)">Borrar</button>
                </td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{ numberOfProducts }}</td>
                <td></td>
                <td>{{ cartPrice | money }} €</td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <button
            v-if="!isEmpty"
            class="btn btn-secondary float-right"
            @click="$emit('empty')"
        >
            Vaciar carrito
        </button>

    </div>
</template>

<script>
import ShoppingCartMixin from "@/components/ShoppingCartMixin";

export default {
    name: "ShoppingCart",
    props: {
        cart: Array,
    },
    mixins: [ShoppingCartMixin],
    computed: {
        isEmpty() {
            return this.cart.length === 0;
        },
        numberOfProducts() {
            let products = 0;
            for (let i = 0; i < this.cart.length; i++) {
                products += this.cart[i].quantity;
            }
            return products;
        },
    },
}
</script>

<style scoped>

</style>